$list_to_sort: 10, 2, 8, 4, 6;

@function sort-list($list) {
  $n: length($list);

  @for $i from 1 through $n - 1 {
    @for $j from 1 through $n - $i {
      $current-item: nth($list, $j);
      $next-item: nth($list, $j + 1);

      @if $current-item > $next-item {
        // Swap the items
        $list: set-nth($list, $j, $next-item);
        $list: set-nth($list, $j + 1, $current-item);
      }
    }
  }

  @return $list;
}

$sorted_list: sort-list($list_to_sort);

// Debug output
@debug $sorted_list;

